@import url("reset.css");
html,body
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.gradient
{
    margin-bottom: 35px;
}
.monstr_body
{
    background: #2b91af
}
.clearfix:after
{
    content:"";
    clear:left;
    display:block
}

.menu
{
    font-size: 0;
    text-align: center;
    padding: 10px 0;
}
.menu li
{
    display: inline-block;
    font-size: 20px;
    background: aqua;
    outline: 2px solid blue;
    position: relative
}

.menu li:hover
{
    background: aquamarine;
}
.menu a
{
    text-decoration:none;
    color: black;
    text-transform: uppercase;
    padding: 20px 30px;
    display: block;
}
.menu .suP
{
    display: block;
    position: relative;
    padding: 20px 10px 20px 60px;
}
.menu .suP:before
{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background: url("../images/sprites.png") -50px 0;
    top: 0;
    left: 0
}
.menu .point + .point .suP:before
{
    background-position: -150px 0;
}

.menu .sup1
{
    display: block;
    position: relative;
    padding: 20px 60px 20px 10px;
}
.menu .sup1:before
{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background: url("../images/sprites.png") -250px 0;
    top: 0;
    right: 0
}
.menu .point1:hover .sup1:before
{
    background-position: -350px 0;
}
.menu .ul1 .point1 .sup1:before
{
    background-position: -450px 0;
}
.menu .ul1 .point1:hover .sup1:before
{
    background-position: -400px 0;
}

.menu .ul1 .point .suP:before
{
    background-position: -400px 0;
}
.menu .ul1 .point:hover .suP:before
{
    background-position: -450px 0;
}



.ul1
{
    position: absolute;
    padding-top: 10px;
    top:100%;
    left:0;
    z-index: 0;
    opacity: 0;
    pointer-events: none
}
.ul1 li
{
    width: 100%;
}
.ul2
{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    overflow: hidden;
    transition: all 1s ease
}

li:hover .ul1
{
    display: block;
    opacity: 1;
    pointer-events: all;
    z-index: 5;
    transition: all 2s ease
}

.li2:hover .ul2
{
    display: block;
    opacity: 1;
    overflow: visible;
    left: 100%;

}
.ul3
{
    position: absolute;
    padding-right: 0;
    bottom:0;
    right:100%;
    height: 0;
    overflow: hidden;
    transition: height 1s ease, padding-right 1s ease-in 1s;
}
.li3:hover .ul3
{
    display: block;
    overflow: visible;
    height: 200%;
    padding-right: 10px
}

.social
{
    font-size: 0;
    text-align: right;
    display: inline-block;
    width: 130px;
    padding: 120px 0 0 70px;
    transform: rotate(-45deg);

}
.social li
{
    display: inline-block;
}
.social li a
{
    background: url("../images/sprites.png") 0 0;
    width: 50px;
    height: 50px;
    display: block;
    margin: 5px;
    overflow: hidden;
    border: 2px solid black;
}

.social li+li a
{
    background-position: -100px 0;
}
.social li+li+li a
{
    background-position: -200px 0;
}
.social li+li+li+li a
{
    background-position: -300px 0;

}

h1
{
    font-size: 50px;
    font-weight: 700
}
h2
{
    color:blue;
    font-weight: 700;
}
h3{color: darkslateblue}
.wrapper>div
{
    text-align:justify;
    outline: 2px solid red
}
.main
{
    width: 1200px;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    background: lavender;
    position: relative;
    border:10px solid cornflowerblue
}
.variety
{
    background: beige;
    padding: 10px;

}
.variety+div
{
    border:5px dotted orange
}
#first
{
    margin-top: 10px;
    border:5px dotted red
}
.text-center
{
    text-align: center;
}
.variety>p
{
    color: darkblue
}
.variety>div
{
    color: brown;
}
.wrapper
{
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    background: lavender;
}

.w4 {width: 400px}
.w8 {width: 800px}
.w6 {width: 600px}
.w3 {width: 300px}

.first
{
    display: table-cell;
    outline: 2px solid red
}
.second
{
    display: table-cell;
    outline: 2px solid red
}
.uni
{
    outline: 2px solid red
}
.third
{
    display: table-cell;
    outline: 2px solid red
}

.third_1
{

    display: table-cell;
    outline: 2px solid red
}
.part
{
    font-size: 0
}
.first_part1
{
    display: inline-block;
    outline: 2px solid red;
    font-size: 20px
}
.second_part1
{
    display: inline-block;
    outline: 2px solid red;
    font-size: 20px
}
.third_part1
{

    display: inline-block;
    outline: 2px solid red;
    font-size: 20px
}

.third_1_part1
{
    width: 300px;
    display: inline-block;
    outline: 2px solid red;
    font-size: 20px
}

.float
{
    float: left;
    outline: 2px solid red
}
.float_1
{
    float: left;
    outline: 2px solid red
}
.float_2
{
    float: left;
    outline: 2px solid red
}
.float_3
{
    float: left;
    outline: 2px solid red
}
.flex
{
    display: flex
}
.flex1
{
    flex:0 1 400px;
    outline: 2px solid red
}
.flex2
{
    flex:0 1 800px;
    outline: 2px solid red
}
.flex3
{
    flex:0 1 600px;
    outline: 2px solid red
}
.flex4
{
    flex:0 1 300px;
    outline: 2px solid red
}
.grid
{
    display: grid;
    grid-template-columns:repeat(3,1fr)
}
.grid_1
{
    display: grid;
    grid-template-columns:800px 400px;
}
.grid_2
{
    display: grid;
    grid-template-columns:repeat(2,1fr)
}
.grid_areas
{
    display: grid;
    grid-template-areas:
    "A A B B C"
    "D D D D E"
    "D D D D G"
    "F F F F G"
    "F F F F H"
    "K K K L L"
    "M T T L L"
    "N N N N O"
    "P P S S O"
    "R R S S O";
    grid-template-columns:300px 100px 200px 200px 400px
}
.boxA
{
    grid-area: A;
}
.boxB
{
    grid-area: B;
}
.boxC
{
    grid-area: C;
}
.boxD
{
    grid-area: D;
}
.boxE
{
    grid-area: E;
}
.boxG
{
    grid-area: G;
}
.boxF
 {
     grid-area: F;
 }
.boxH
{
    grid-area: H;
}
.boxK
{
    grid-area: K;
}
.boxL
 {
     grid-area: L;
 }
.boxM
{
    grid-area: M;
}
.boxN
{
    grid-area: N;
}
.boxO
{
    grid-area: O;
}
.boxP
{
    grid-area: P;
}
.boxS
{
    grid-area: S;
}
.boxR
{
    grid-area: R;
}
.boxT
{
    grid-area: T;
}
.pos
{
    position:absolute;
    width: 100%;
    min-height: 20px;
    top:calc(50% - 35px);
    padding:25px 0;
    text-align: center;
    background: rgba(173,216,230,.5)
}
.pos span
{
    background: linear-gradient(to right,darkblue,darkmagenta);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: bolder
}

.new
{
    position: relative
}
.fix
{
    position: fixed;
    background: lightskyblue;
    top:calc(50% - 260px);
    left:0
}
.fix>p
{
    min-height: 130px
}
.super
{
    clear: left
}


.hover_me
{
    position: fixed;
    background: white;
    width: 300px;
    height: 350px;
    padding: 20px 0 0 20px;
    right: -250px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 3s ease;
}
.hover_me:hover
{
    right: 0;
    background: bisque;
}
.click
{
    position: absolute;
    font-size: 50px;
    left: 0;
    bottom: 0;
    padding-left: 20px;
    transform: rotate(-90deg);
    transform-origin: 25px 25px;
    animation: turn 2s ease infinite 3s;
}

@keyframes turn{
    0%{
        transform: rotate(-90deg) scale(1)
    }
    50%{
        transform: rotate(-90deg) scale(1.2);
        color: red;
    }
    100%{
        transform: rotate(-90deg) scale(1)
    }
}
.hover_me:hover .click
{
    animation: none
}

.to_one {
    position: relative;
    width: 500px;
    height: 150px;
    margin: 100px auto;
    background: repeating-linear-gradient(-55deg,dimgrey 30%, dimgrey 50%, grey 50%, grey 52%)
}
.to_one:after {
   content: "";
    position: absolute;
    width: 110px;
    height: 130px;
    top:-40%;
    left:-10%;
    background: dimgrey;
    border-radius: 70% 0 0 0;
}
.to_one:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 130px;
    bottom:-40%;
    left:-10%;
    background: dimgrey;
    border-radius: 0 0 0 70%;
}
.to_two{
    display: inline-block;
    border-top: 110px solid transparent;
    border-right: 100px solid dimgrey;
    border-bottom: 110px solid transparent;
}
.to_three {
    display: inline-block;
    width: 130px;
    height:220px;
    position: relative;
    overflow: hidden;
    margin:0 -5px
}
.to_three:after
{
    content: "";
    position: absolute;
    top:-10%;
    right: -55%;
    width: 90px;
    height: 90px;
    border:90px solid dimgrey;
    border-radius: 50%
}

.to_four{
    display: inline-block;
    border-top: 110px solid transparent;
    border-left: 100px solid dimgrey;
    border-bottom: 110px solid transparent;
}
.to_five{
    width: 150px;
    height: 150px;
    border-left: 40px solid dimgrey;
    border-bottom: 80px solid dimgray;
    border-right: 40px solid dimgray;
    border-radius: 50%/60% 60% 80% 80%;
    position: relative;
    margin: -230px 0 500px 60px;
}
.to_five:after{
    content: "";
    width: 70px;
    left: 25%;
    height: 300px;
    position: absolute;
    bottom: -200%;
    background: dimgrey;
}
.to_sex {
    display: inline-block;
    width: 70px;
    height:50px;
    position: absolute;
    bottom: -230%;
    left: 25%;
    overflow: hidden;
}
.to_sex:after
{
    content: "";
    position: absolute;
    top:-70%;
    right: -25%;
    width: 20px;
    height: 20px;
    border:40px solid dimgrey;
    border-radius: 50%
}
.rotate
{
    transform: rotate(-45deg);
}
.main12{
    position:fixed;
    top: calc(50% - 250px);
    right: calc(50% - 300px);
    width: 300px;
    height: 500px;
    margin-left:300px
}
.ear{
    position: relative;
    width: 40px;
    height: 40px;
    background:wheat;
    border-radius: 70% 0/70% 0 0 0
}
.ear1{
    position: absolute;
    left: -350%;
    top: 0;
    width: 40px;
    height: 40px;
    background:wheat;
    border-radius: 0 70%/0 70% 0 0
}
.monstr{
    position: absolute;
    right: -150%;
    top: 0;
    width: 300px;
    height: 300px;
    background: chartreuse;
    border-radius: 50%;
}
.eye{
    width: 120px;
    height: 120px;
    background: #006452;
    border-radius: 50%;
    border: 10px solid white;
    position: relative;
    top:15%;
    left:80px
}
.eye:after{
    content: "";
    position: absolute;
    left: 72%;
    top: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid white;
    border-bottom: 15px solid transparent
}
.eye:before{
    content: "";
    position: absolute;
    width: 50px;
    height: 35px;
    bottom: -60%;
    right: calc(50% - 25px);
    border-radius: 50%;
    background:linear-gradient(chartreuse 50%,darkgreen 50%)
}
.hand{
    position: absolute;
    width: 30px;
    height: 145px;
    top: 15%;
    left: -15%;
    background: chartreuse;
    border-radius: 50%/10%;
    transform: rotate(-45deg);
}
.hand1{
    position: absolute;
    width: 30px;
    height: 145px;
    top: 15%;
    right: -15%;
    background: chartreuse;
    border-radius: 50%/10%;
    transform: rotate(45deg);
}

.leg
{
    position: absolute;
    bottom: -40%;
    right: 30%;
    width: 30px;
    height: 140px;
    background: chartreuse
}
.leg:before{
    content: "";
    position: absolute;
    bottom:-25%;
    right: -15px;
    width: 60px;
    height: 40px;
    border-radius: 50% 50% 15% 15%/50% 50% 30% 30%;
    background: chartreuse;
}
.leg:after{
    content: "";
    position: absolute;
    bottom:-25%;
    right: 25px;
    width: 10px;
    height: 10px;
    border-radius:30%;
    background: white;
    box-shadow: 15px 0 0 0 white, 30px 0 0 0 white;
}
.leg1
{
    position: absolute;
    bottom: -40%;
    left: 30%;
    width: 30px;
    height: 140px;
    background: chartreuse
}
.leg1:before{
    content: "";
    position: absolute;
    bottom:-25%;
    right: -15px;
    width: 60px;
    height: 40px;
    border-radius: 50% 50% 15% 15%/50% 50% 30% 30%;
    background: chartreuse;
}
.leg1:after{
    content: "";
    position: absolute;
    bottom:-25%;
    right: 25px;
    width: 10px;
    height: 10px;
    border-radius:30%;
    background: white;
    box-shadow: 15px 0 0 0 white, 30px 0 0 0 white;
}






